body {
	font-family: Microsoft JhengHei ,Arial, Helvetica, sans-serif;	
}

.tr_title th{
	text-align: center;
	background-color: #888888;
}

.tr_field th{
	text-align: center;
	background-color: #FFFFAA;
}

.tr_field_v th{
	text-align: right;
	background-color: #FFFFAA;
}

.tr_data1 td{
	background-color: #C0C0C0;	
}

.tr_data2 td{
	background-color: #F7F7F7;	
}

.Arial14 {
	font-size: 14px;
}

.Arial14Bold {
	font-size: 14px;
	font-weight: bold;
}

.Arial16 {
	font-size: 16px;
}

.Arial16Bold {
	font-size: 16px;
	font-weight: bold;
}

.Arial16Bold_Right{
	font-size: 16px;
	font-weight: bold;
	background-color: #FFFFCC;
}

.Arial18 {
	font-size: 18px;
}

.Arial18Bold {
	font-size: 18px;
	font-weight: bold;
}

.Arial14Bold_V {
	font-size: 14px;
	font-weight: bold;
	background-color: #e6e6e9;
}

.align_left {
	text-align: left;
}

.align_center {
	text-align: center;
}

.align_right {
	text-align: right;
}

.bg_gray {
	background-color: #e6e6e9;
}

.bg_y {
	background-color: #FFFFCC;
}

.bg_light_blue {
	background-color: #E8F3FF;
}

.bg_light_gray {
	background-color: #F7F7F7;
}

.bg_select {
	background-color: #86CEFF;
}

.table0 {
	border: 1px #D4D9DB solid;
	border-radius: 8px;
	background-color: #FFFFFF;
}

.table_bc_gray {
	border: 1px #D4D9DB solid;
	background-color: #F0F0F0;
}

.table80 {
	border: 1px #D4D9DB solid;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;	
	background-color: #FFFFFF;
	width: 80%;
}

.table90B {
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;	
	background-color: #FFFFFF;
	width:90%;
}

.table90 {
	border: 1px #D4D9DB solid;
	width:90%;
}

.table_filter {
	border: thin #9F832F dotted;
}

.mainMenu td{
	font-size: 18px;
	font-weight: bold;
	color: #FFFFFF;
}

.subMenu td{
	font-size: 16px;
	font-weight: bold;
	color: #FFFFFF;
}

.table-width-100 {
	width: 100%;
}

.table-width-90 {
	width: 90%;
}

.table-margin-0 {
	margin-bottom: 0;
}

.text-align-left {
	text-align: left;	
}

.text-align-center {
	text-align: center;	
}

.text-align-right {
	text-align: right;	
}

.text-valign-top {
	vertical-align: top;
}

.text-valign-middle {
	vertical-align: middle;
}

.text-valign-bottom {
	vertical-align: bottom;
}

.font-14 {
	font-size: 14px;
}

.font-14-bold {
	font-size: 14px;
	font-weight: bold;
}

.font-16 {
	font-size: 16px;
}

.font-16-bold {
	font-size: 16px;
	font-weight: bold;
}

.font-18 {
	font-size: 18px;
}

.font-18-bold {
	font-size: 18px;
	font-weight: bold;
}